@use "./theme.scss" as *;

.bg-color-primary{
    background-color: $primary;
}
.bg-color-secondary{
    background-color: $secondary;
}
.bg-color-tertiary{
    background-color: $tertiary;
}
.bg-color-gray{
    background-color: $gray;
}