@use "./theme.scss" as *;

// bg-color
.bg-color-primary{
    background-color: $primary;
}
.bg-color-secondary{
    background-color: $secondary;
}
.bg-color-tertiary{
    background-color: $tertiary;
}
.bg-color-gray{
    background-color: $gray;
}

// Font-color

.color-font-primary{
    color:  $primary;
}
.color-font-secondary{
    color:  $secondary;
}
.color-font-tertiary{
    color:  $tertiary;
}
.color-font-gray{
    color:  $gray;
}
.color-font-gray-opacity{
    color:  $gray-opacity;
}